@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.not-found-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.not-found-container h1 {
  font-size: 6rem;
  color: #dc3545; /* Red color for 404 */
}

.not-found-container p {
  font-size: 1.5rem;
  color: #6c757d; /* Muted text */
}
